<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
    <video id="gum" playsinline autoplay muted></video>

	<button onclick="triggerEvent()">Trigger</button>
	<button onclick="triggerEvent2()">Trigger2</button>
</head>
<body>
		<h1>Index</h1>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/public/socket.io-stream/socket.io-stream.js"></script>
		<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
		<script src="http://www.webrtc-experiment.com/socket.io/PeerConnection.js"></script>
		<script>
		getUserMedia();
		  var socket = io.connect('http://localhost:4000');
		  const gumVideo = document.querySelector('video#gum');

		  socket.on('userSet', function(data) {
	        console.log(data);
  			gumVideo.srcObject = data;
	      });

		  function triggerEvent() {
		  	    socket.emit('fire', {mydata : 'test only'});

		  }

		   function triggerEvent2() {
		   		setInterval(function(){
		   			socket.emit('channel-1', {mydata : 'test only 2'});
		   		}, 300);
		  	    

		  }

		  function getUserMedia(callback) {
		    var hints = {
		        audio: true,
		        video: {
		            optional: [],

		            // capture super-hd stream!
		            mandatory: {
		                minWidth: 1280,
		                minHeight: 720,
		                maxWidth: 1920,
		                maxHeight: 1080,
		                minAspectRatio: 1.77
		            }
		        }
		    };

		    navigator.getUserMedia(hints, function (stream) {
		        //    you can use "peer.addStream" to attach stream
		        //    peer.addStream(stream);
		        // or peer.MediaStream = stream;

		        //callback(stream);

		        // preview local video
		        var video = document.createElement('video');
		        video.srcObject = stream;
		        video.controls = true;
		        video.muted = true;
		        console.log(stream.captureStream());
		        socket.emit('fire', stream);
		        var peer = new PeerConnection(socket);
		          gumVideo.srcObject = data;


		    });
		}
		</script>

</body>		
</html>